*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
    box-sizing: border-box;
    font-family: $font-primary;
    font-weight: 300;
    font-size: 1.6rem;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $color-primary;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: $color-primary;
    color: #fff;
}