.homes {
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 5rem;
}

.home {
    display: grid;
    //grid-template-columns: [full-box-start] minmax(2rem, 1fr) [col-start] 1fr minmax(2rem, 1fr) [col-end full-box-end];
    grid-template-columns: repeat(2, minmax(12.5rem, 1fr));

    &__img {
        width: 100%;
        //grid-column: full-box-start / full-box-end;
        grid-column: 1 / 3;
    }

    &__name {
        background-color: $color-secondary;
        color: #fff;
        font-size: 1.6rem;
    }
}